.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
    width: 100%;
    
}
.logo-container{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 50px;
}

.logo{
    height: 45px;
}
.logo-name{
    font-size: 18px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 60px;
    font-size: 20px;

    
}
.item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  
}

.dp{
    height: 40px;
}

.open{
    
    display: none;
}
.close{
    display: none;    
    
}


@media  (max-width:768px){
    .dp{
        display: none;
    }
   .navbar{
    margin: 20px 50px;
    width: 100%;
   }
   .open{
    display: block;
    position: relative;
   }
   .close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
   }
   .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    background: white;
    top: 0;
    gap: 30px;
    width: 70%;
    height: 380px;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;

    position: fixed; /* Make menu fixed for mobile */
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: start; /* Align items to the left on mobile */
    background: white; /* Set background color for mobile */
    top: 0; /* Position menu at the top on mobile */
    gap: 30px; /* Adjust spacing between items on mobile */
    width: 70%; /* Set menu width on mobile */
    height: 100vh; /* Set menu height to fill viewport on mobile */
    z-index: 2; /* Ensure menu is above other content on mobile */
    transition: right 0.5s; /* Smooth menu animation */
    right: -350px; /* Hide menu initially on mobile */

   }
.item{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
}
}