.container {
    max-width: 1200px;
   
    margin: 0 auto;
    padding:40px;
    gap: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
    
}

.header h2{
    color: blueviolet;
    font-size: 20px;
}

.feature-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-bottom: 20px ;
    margin: 30px 10px 30px 10px;
    padding: 10px;
    
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;

}

.feature-card p {
    font-size: 14px;
    color: #666;
}

.feature-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.card-img{
    height: 17px;
}


@media (max-width:768px){
    .header h2{
        font-size: 18px;
    }
    .header h1{
        font-size: 20px;
    }
    .header p{
        font-size: 15px;
    }
    .feature-card img{
        width: 40px;
        height: 40px;
    }
    .feature-card h3{
        font-size: 17px;
    }
    .feature-card p{
font-size: 15px;
    }
}