.footer-container{
    width: 50%;
    margin: 20px auto;
    box-shadow:  0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    background: white;

    
}


.products{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;

}
.product h1{
    font-size: 18px;
    color:#667085;
}
.product-ls{
   
    list-style-type: none;
    text-align: left;
    
}
.product-ls li{
    font-size: 18px;
    color: #475467;

   
}

.ft-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:0px 10px 10px 10px;
}

.ft-container p{
    font-size: 18px;
}


@media (max-width:768px){
    .footer-container{
        width: 90%;
        flex-wrap: wrap;
    }
    .product-ls li{
        font-size: 12px;
    }
    .product h1{
        font-size: 14px;
    }
    .ft-container{
        flex-direction: column;
    }
    .logo-container p{
        font-size: 15px;
    }
    .logo-container img{
        height: 40px;
    }
    .ft-container p{
        font-size: 14px;
    }

}