*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;

  margin: 0;
  font-family: "outfit";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
